* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30;
  margin-bottom: 30px;
}

.timer,
.label,
.value,
.field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  flex-direction: column;
  margin: 25px;
  width: 240px;
  height: 240px;
  cursor: default;
  background: #303238;
  border-radius: 50%;
  box-shadow: 0 0 10px #303238, 0 0 20px #303238;
}
.label,
.value {
  color: #fafafa;
  font-size: 24;
  font-weight: 700;
}
